.header-container {
    display: flex;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,#9370db,#7700b1c7);
    padding: 0 40px;

    .logo {
        padding: 12px;

        img {
            width: 85px;
            height: 85px;
            border-radius: 12px;
            cursor: pointer;
        }
    }

    .navigations {
        display: flex;
        width: 40%;
        height: 100%;
        gap: 20px;
        color: white;

        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            width: 100%;
            font-size: 24px;
            font-weight: 500;
            color: rgb(74 0 74);

            span {
                transition: 0.4s ease;
            }

            span:hover {
                font-size: 30px;
                font-weight: 600;
                color: rgb(128, 0, 128, 1);
                transition: 0.2s ease-in-out;
            }
        }
    }

    .login {
        display: flex;
        gap: 12px;
    }
}
