<div class="prices-container">
    <h3>Prices:</h3>
    <span>Hire me today!</span>
    <div class="packages">
        <div class="package">
            <h4>Starter</h4>
            <img src="" alt="" srcset="">
            <ul class="list">
                <li>10 alkalom</li>
                <li>10 alkalom</li>
                <li>10 alkalom</li>
                <li>10 alkalom</li>
                <li>10 alkalom</li>
            </ul>
            <button mat-raised-button>Choose</button>
        </div>
        <div class="package larger">
            <h4>Complete</h4>
            <img src="" alt="" srcset="">
            <ul class="list">
                <li>15 alkalom</li>
                <li>15 alkalom</li>
                <li>15 alkalom</li>
                <li>15 alkalom</li>
                <li>15 alkalom</li>
            </ul>
            <button mat-raised-button>Choose</button>
        </div>
        <div class="package">
            <h4>Expert</h4>
            <img src="" alt="" srcset="">
            <ul class="list">
                <li>20 alkalom</li>
                <li>20 alkalom</li>
                <li>20 alkalom</li>
                <li>20 alkalom</li>
                <li>20 alkalom</li>
            </ul>
            <button mat-raised-button>Choose</button>
        </div>
    </div>
</div>